/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Kincekara/nf-haphir Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/
process {

    cpus   = 1
    memory = 1.GB
    time   = 1.h

    errorStrategy = { task.exitStatus in ((130..145) + 104 + (175..177)) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    withLabel:process_single {
        cpus   = 1                   
        memory = { 1.GB * Math.min(task.attempt, 2) }
        time   = 1.h
    }
    withLabel:process_low {
        cpus   = { 2     * Math.min(task.attempt, 2) }
        memory = { 4.GB * Math.min(task.attempt, 2) }
        time   = 1.h
    }
    withLabel:process_medium {
        cpus   = { 4     * Math.min(task.attempt, 2) }
        memory = { 8.GB * Math.min(task.attempt, 2) }
        time   = 1.h
    }
    withLabel:process_high {
        cpus   = 8 
        memory = { 16.GB * Math.min(task.attempt, 2) }
        time   = 1.h
    }
    withLabel:process_long {
        time   = { 2.h  * Math.min(task.attempt, 2) }
    }
    withLabel:process_high_memory {
        memory = { 200.GB * Math.min(task.attempt, 2) }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withLabel: process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
        accelerator = { workflow.profile.contains('gpu') ? 1 : null }
    }
    
    // Custom process resources for specific tasks
    withName: 'PLASSEMBLER_ASM' {
        cpus   = 8
        memory = { 16.GB * task.attempt }
        disk   = 300.GB
        time   = 1.h     
    }
    withName: 'HIFIASM_ASM' {
        cpus   = { 8    * task.attempt }
        memory = { 32.GB * task.attempt }        
        disk   = { 200.GB * Math.min(task.attempt, 2) }
        time   = 1.h
    }
    withName: 'FLYE_ASM' {
        cpus   = 8  
        memory = { 16.GB * Math.min(task.attempt, 2) }        
        disk   = { 200.GB * Math.min(task.attempt, 2) }
        time   = 1.h
    }
    withName: 'HICANU_ASM' {
        cpus   = 8
        memory = { 16.GB * Math.min(task.attempt, 2) }
        disk   = { 200.GB * Math.min(task.attempt, 2) }
        time   = 1.h   
    }
    withName: 'LJA_ASM' {
        cpus   = 8  
        memory = { 32.GB * Math.min(task.attempt, 2) }     
        time   = 1.h
    }
    withName: 'REORIENT' {
        cpus   = 2 
        memory = 8.GB      
        disk   = { 50.GB * Math.min(task.attempt, 2) }
        time   = 1.h
    }
    withName: 'ESTIMATE_GENOME_SIZE' {     
        disk   = { 50.GB * Math.min(task.attempt, 2) }
    }

}
